

.body-initial {background-color: rgba(255,255,255,1);}.silex-id-1569938599995-2 {width: 1912px; min-height: 1080px; top: 0px; left: 0px;}.silex-id-1569938886251-3 {width: 1476px; min-height: 829px; top: 67px; left: 223px;}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.text-style-1 h1 {font-family: 'Roboto', sans-serif; font-weight: 800; font-size: 200px;}body.silex-runtime {opacity: 1;}
